/* Globals
========================= */
/* 
* Typography
*/

/* Extra small devices (portrait phones, less than 544px) */
/* No media query since this is the default in Bootstrap */
@media (min-width: 0px) {
	body {
		font-family: futura-pt, sans-serif;
		font-size: 16px;
	}
	h1 {
	  margin: 0px;
	  font-family: futura-pt, sans-serif;
	  color: white;
	  font-size: 2.8em;
	  line-height: 1em;
	  margin-bottom:-16px;
	  font-weight: 700;
	  text-transform: uppercase;
	}
	h2 {
	  margin: 0px;
	  font-family: futura-pt, sans-serif;
	  color: black;
	  font-size: 1.3em;
	  line-height: 1.6em
	  font-weight: 700;
	  cursor: pointer;
	}
	p.lead {
	  font-family: futura-pt, sans-serif;
	  color: white;
	  margin-bottom: 0;	
	}
}
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
	h1 {
		font-size: 5em;
		line-height: 1em;
	}	
	h2 {
		font-size: 1.3em;
		line-height: 1.6em
	}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	
}
/* 
* Links
*/
a,
a:focus,
a:hover {
  color: #0093d0;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #FFF;
}
body {
  color: #333;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: bottom;
}
.cover-container {
  background-color: rgba(113, 112, 116, 0.65);
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

header {}

/*
 * Cover
 */

.cover {
  padding: 10px 20px 20px 20px;
}

.ccl-logo {
	width: 80px;
	position: absolute;
	top:0;
	right: 20px;
}

@media (min-width: 768px) {
   /* Handle the widths */
  .cover {
	padding: 20px 40px 40px 40px;  
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .ccl-logo {
	width: 120px;
	position: absolute;
	top:0;
	right: 40px;
  }
}

@media (min-width: 992px) {
  .cover {

  }
  .ccl-logo {
	width: 120px;
	position: absolute;
	top:0;
	right: 40px;
  }
}

/* The Form + Footer */
/*Input styling is done in seperate css file*/

.footer-wrapper {
	background-color: #ddd;
}

.the-form,
footer {
	padding: 16px 20px 20px 20px;
}

.form-control /* Seams to provide most styles for inputs */ {
	background-color: #DDD;
	border-radius: 0;
	box-shadow: none;;
	border: none;
	-webkit-box-shadow: none;
}
label, legend {
	color: #666;
	font-weight: 500;
	font-size: 16px;
	border: none;
	margin-bottom: 2px;
}
legend,
.special {color: black;}
.special {
	margin-bottom: 16px;
}
.has-error .form-control {/*For the input field with error*/
	
}
.help-block.with-errors li {/*Form Validator classes*/
	color: red;
}

@media (min-width: 768px) {/* Handle the widths */
  .the-form,
  footer {
	padding: 40px 80px 40px 80px;  
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .col-sm-1, .col-sm-2 {/*Col gutter adjust*/
  	padding-right: 4px;
  }
  .col-sm-10, .col-sm-11 {/*Col gutter adjust*/
  	padding-left: 4px;
  }
  .contact .col-sm-1 {
  	text-align: right;
  	padding-top: 7px;
  }
}

@media (min-width: 992px) {
  .the-form,
  footer {
    width: 900px;
    margin: auto;
  }
}

/* Zoom Hack */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .form-control {
    font-size: 16px;
  }
}
/*
 * Footer
 */

.footer-wrapper {
	background-color: #ddd;
}
footer {
	font-size: 12px;
}
footer hr {
	border-top:1px solid #666;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical positioning */
  .site-wrapper-inner {
    vertical-align: bottom;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 100%;
  }
}
